* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

body section {
  width: 100%;
  position: relative; }
  body section .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(../images/Preloader.gif) 50% 50% no-repeat #fff; }
  body section .content-container {
    height: 700px;
    max-width: 1024px;
    margin: 0 auto; }
    body section .content-container .active {
      background: yellow !important; }
    body section .content-container .header {
      height: 14%; }
      body section .content-container .header .row .speaker {
        cursor: pointer; }
        body section .content-container .header .row .speaker img {
          width: 100%; }
    body section .content-container .page {
      height: 67%; }
      body section .content-container .page .page-container {
        background: #0fa0c5;
        height: 100%;
        position: relative;
        z-index: 1; }
        body section .content-container .page .page-container .content {
          width: 95%;
          height: 105%;
          position: absolute;
          top: -9px;
          right: 0;
          left: 0;
          margin: 0 auto;
          border: 4px solid #f5821f;
          -webkit-border-radius: 25px;
                  border-radius: 25px;
          background-image: url(../images/background.png);
          -webkit-background-size: 100% 100%;
                  background-size: 100% 100%;
          background-repeat: no-repeat; }
          body section .content-container .page .page-container .content .words {
            position: relative;
            width: 100%;
            height: 100%;
            font-size: 13px; }
            body section .content-container .page .page-container .content .words .word-one {
              cursor: pointer;
              position: absolute;
              top: 43%;
              left: 33%;
              height: 6%;
              background: white;
              border: 2px solid #0fa0c5;
              -webkit-border-radius: 10px;
                      border-radius: 10px;
              font-weight: bold; }
              body section .content-container .page .page-container .content .words .word-one p {
                padding: 2px;
                width: 100%;
                height: 100%;
                text-align: center; }
            body section .content-container .page .page-container .content .words .word-two {
              cursor: pointer;
              position: absolute;
              top: 41%;
              left: 20.5%;
              height: 6%;
              background: white;
              border: 2px solid #0fa0c5;
              -webkit-border-radius: 10px;
                      border-radius: 10px;
              font-weight: bold; }
              body section .content-container .page .page-container .content .words .word-two p {
                padding: 2px;
                width: 100%;
                height: 100%;
                text-align: center; }
            body section .content-container .page .page-container .content .words .word-three {
              cursor: pointer;
              position: absolute;
              top: 46%;
              left: 2%;
              height: 6%;
              background: white;
              border: 2px solid #0fa0c5;
              -webkit-border-radius: 10px;
                      border-radius: 10px;
              font-weight: bold; }
              body section .content-container .page .page-container .content .words .word-three p {
                padding: 2px;
                width: 100%;
                height: 100%;
                text-align: center; }
            body section .content-container .page .page-container .content .words .word-four {
              cursor: pointer;
              position: absolute;
              top: 20%;
              right: 30%;
              height: 6%;
              background: white;
              border: 2px solid #0fa0c5;
              -webkit-border-radius: 10px;
                      border-radius: 10px;
              font-weight: bold; }
              body section .content-container .page .page-container .content .words .word-four p {
                padding: 2px;
                width: 100%;
                height: 100%;
                text-align: center; }
            body section .content-container .page .page-container .content .words .word-five {
              cursor: pointer;
              position: absolute;
              top: 35%;
              right: 14%;
              height: 6%;
              background: white;
              border: 2px solid #0fa0c5;
              -webkit-border-radius: 10px;
                      border-radius: 10px;
              font-weight: bold; }
              body section .content-container .page .page-container .content .words .word-five p {
                padding: 2px;
                width: 100%;
                height: 100%;
                text-align: center; }
    body section .content-container .footer {
      height: 15%; }
      body section .content-container .footer .footer-content {
        background: #deecf6;
        height: 100%; }
        body section .content-container .footer .footer-content .row {
          height: 100%; }
          body section .content-container .footer .footer-content .row .refresh-btn img {
            width: 100%;
            height: 60%; }
          body section .content-container .footer .footer-content .row .audio-container {
            height: 70%;
            background-image: url(../images/audio.png);
            -webkit-background-size: 90% 90%;
                    background-size: 90% 90%;
            background-repeat: no-repeat; }
            body section .content-container .footer .footer-content .row .audio-container .audio-btn {
              width: 15%; }
              body section .content-container .footer .footer-content .row .audio-container .audio-btn img {
                width: 50%;
                cursor: pointer; }
            body section .content-container .footer .footer-content .row .audio-container .audio-range {
              width: 70%; }
              body section .content-container .footer .footer-content .row .audio-container .audio-range .slider {
                width: 100%;
                cursor: pointer;
                -webkit-border-radius: 3px;
                        border-radius: 3px; }

@media (min-width: 768px) and (max-width: 991px) {
  .content-container {
    height: 600px !important; }
  .words {
    font-size: 11px !important; } }

@media (min-width: 600px) and (max-width: 768px) {
  .content-container {
    height: 500px !important; }
  .words {
    font-size: 10px !important; } }

@media (min-width: 480px) and (max-width: 600px) {
  .content-container {
    height: 450px !important; }
  .words {
    font-size: 8px !important; } }

@media (min-width: 350px) and (max-width: 480px) {
  .content-container {
    height: 390px !important; }
  .words {
    font-size: 6px !important; } }

@media (min-width: 220px) and (max-width: 350px) {
  .content-container {
    height: 300px !important; }
  .words {
    font-size: 4px !important; } }

@-webkit-keyframes opacity {
  10% {
    opacity: 1; }
  20% {
    opacity: 0.9; }
  30% {
    opacity: 0.8; }
  40% {
    opacity: 0.7; }
  50% {
    opacity: 0.6; }
  60% {
    opacity: 0.5; }
  60% {
    opacity: 0.4; }
  70% {
    opacity: 0.3; }
  80% {
    opacity: 0.2; }
  90% {
    opacity: 0.1; }
  100% {
    opacity: 0; } }

@keyframes opacity {
  10% {
    opacity: 1; }
  20% {
    opacity: 0.9; }
  30% {
    opacity: 0.8; }
  40% {
    opacity: 0.7; }
  50% {
    opacity: 0.6; }
  60% {
    opacity: 0.5; }
  60% {
    opacity: 0.4; }
  70% {
    opacity: 0.3; }
  80% {
    opacity: 0.2; }
  90% {
    opacity: 0.1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
